<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.calendar.mapper.CalendarPositionMapper">
    <insert id="insert" parameterType="com.example.demo.domain.calendar.entity.CalendarPostionEvnt" useGeneratedKeys="true"
            keyProperty="postionEvntSq" keyColumn="postion_evnt_sq">
        INSERT INTO TBL_PROJECT_RECRUIT_EVNT (schedule_sq, project_sq)
        VALUES (#{scheduleSq}, #{projectSq})
    </insert>

    <select id="findProjectDetailByScheduleSq" resultType="com.example.demo.domain.calendar.mapper.rows.ProjectDetailRow">
        SELECT pj.project_sq AS projectSq, pj.company_sq AS companySq, pj.project_ttl AS projectTtl, pj.project_recruit_start_dt AS recruitStartDt,
        pj.project_recruit_end_dt AS recruitEndDt,
        FROM TBL_CALENDAR_POSITION_EVNT cpe JOIN TBL_PROJECT_M pj ON pj.project_sq = cpe.project_sq WHERE cpe.schedule_sq =
        #{scheduleSq} LIMIT 1
    </select>
</mapper>