<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.calendar.mapper.CalendarInterviewMapper">

    <insert id="insert" parameterType="com.example.demo.domain.calendar.entity.CalendarInterviewEvnt" useGeneratedKeys="true"
            keyProperty="interviewEvntSq" keyColumn="interview_evnt_sq">
        INSERT INTO TBL_CALENDAR_INTERVIEW_EVNT(
        company_sq, project_sq, project_application_sq, schedule_sq, address_sq, company_nm_snapshot
        ) VALUES(#{companySq}, #{projectSq},#{projectApplicationSq},#{scheduleSq},#{addressSq},#{companyNmSnapshot})
    </insert>

    <select id="findInterviewDetailByScheduleSq" parameterType="Long"
            resultType="com.example.demo.domain.calendar.mapper.rows.InterviewDetailRow">
        SELECT cie.memo, cie.interview_evnt_sq FROM TBL_CALENDAR_INTERVIEW_EVNT cie WHERE cie.schedule_sq = #{scheduleSq}
    </select>

</mapper>