<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.calendar.mapper.CalendarInterviewMapper">

    <insert id="insert" parameterType="com.example.demo.domain.calendar.entity.CalendarInterviewEvnt" useGeneratedKeys="true"
            keyProperty="interviewEvntSq" keyColumn="interview_evnt_sq">
        INSERT INTO TBL_CALENDAR_INTERVIEW_EVNT(
        company_sq, project_sq, project_application_sq, schedule_sq, address_sq, project_ttl_snapshot, company_nm_snapshot
        ) VALUES(#{companySq}, #{projectSq},#{projectApplicationSq},#{scheduleSq},#{addressSq},#{projectTtlSq},#{companyNmSnapshotSq})
    </insert>

</mapper>