<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.point.mapper.PointMapper">

	<select id="selectPointAmount" parameterType="long" resultType="int">
		SELECT IFNULL(MAX(point_amount), 0)
		FROM TBL_POINT_M
		WHERE user_sq = #{userSq}
	</select>

	<select id="selectPointHistory"
		resultType="com.example.demo.domain.point.dto.PointHistoryResponse">
		SELECT
		point_tp AS pointTp,
		chg_point AS chgPoint,
		rem_point AS remPoint,
		point_rsn AS pointRsn,
		reg_dt AS regDt
		FROM TBL_POINT_HISTORY_M
		WHERE user_sq = #{userSq}
		ORDER BY reg_dt DESC
	</select>

	<select id="countPointByUserSq" resultType="int">
		SELECT COUNT(*)
		FROM TBL_POINT_M
		WHERE user_sq = #{userSq}
	</select>

	<insert id="insertPoint">
		INSERT INTO TBL_POINT_M (
		point_amount,
		point_create_at_dt,
		point_updated_at_dt,
		user_sq
		) VALUES (
		0,
		NOW(),
		NULL,
		#{userSq}
		)
	</insert>

	<select id="selectPointSqByUserSq" resultType="long">
		SELECT point_sq
		FROM TBL_POINT_M
		WHERE user_sq = #{userSq}
	</select>

	<select id="selectAttendancePointPolicy" resultType="java.lang.Integer">
		SELECT attendance_point
		FROM TBL_POINT_POLICY_M
		ORDER BY point_policy_sq DESC
		LIMIT 1
	</select>

	<update id="updatePointAmount">
		UPDATE TBL_POINT_M
		SET point_amount = #{pointAmount},
		point_updated_at_dt = NOW()
		WHERE user_sq = #{userSq}
	</update>

	<insert id="insertAttendancePointHistory">
		INSERT INTO TBL_POINT_HISTORY_M (
		point_tp,
		chg_point,
		rem_point,
		point_rsn,
		reg_dt,
		point_sq,
		user_sq
		) VALUES (
		#{pointTp},
		#{chgPoint},
		#{remPoint},
		#{pointRsn},
		NOW(),
		#{pointSq},
		#{userSq}
		)
	</insert>

</mapper>