<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.project.mapper.AddressMapper">

	<select id="findAddressBySq" parameterType="Long" resultType="String">
    SELECT address
    FROM TBL_ADDRESS_S
    WHERE address_sq = #{addressSq}
	</select>
	
	<!-- 1. 지역코드 조회 -->
	   <select id="selectAreaCodeBySidoAndSigungu" resultType="long">
        SELECT area_code_sq
        FROM TBL_AREA_C
  		WHERE TRIM(area_sigungu) = TRIM(#{sigungu})
    </select>
	
	<select id="findAreaInfoBySq" parameterType="Long" resultType="com.example.demo.domain.project.dto.response.AreaInfoResponse">
    SELECT area_code_sq, sigungu
    FROM TBL_ADDRESS_S
    WHERE address_sq = #{addressSq}
	</select>
	
	<insert id="createAddress"
        parameterType="com.example.demo.domain.project.dto.AddressInsertDto"
        useGeneratedKeys="true"
        keyProperty="dto.addressSq">
    INSERT INTO TBL_ADDRESS_S (
		zonecode,
		address,
		detail_address,
        sigungu,
        latitude,
        longitude,
        area_code_sq
    ) VALUES (
		#{dto.zonecode},
		#{dto.address},
		#{dto.detailAddress},
		#{dto.sigungu},
        #{dto.districtLat},
        #{dto.districtLon},
        #{areaCodeSq}
    )
	</insert>





</mapper>