<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.chat.mapper.ChatroomMapper">

<!--채팅방 생성-->
	<insert id="insertChatroom" parameterType="com.example.demo.domain.chat.dto.ChatroomVo" useGeneratedKeys="true" keyProperty="chatroomSq"
	            keyColumn="chatroom_sq">
	            INSERT INTO TBL_CHATROOM_S
	            (
	            user_sq,
	            last_message
	            
	            )
	            
	            VALUES
	            (
	            #{userSq},
	            #{lastMessage}
	            )
	</insert>

	
	
	<update id="updateChatroomType" parameterType="com.example.demo.domain.chat.dto.ChatroomVo">
	UPDATE TBL_CHATROOM_S
	SET chatroom_type = #{chatroomType}
	where chatRoom_sq = #{chatroomSq} and user_sq = #{userSq}
	</update>


	<update id="updateLastMessage">
		UPDATE TBL_CHATROOM_S
		SET
		last_message = #{lastMessage},
		last_message_at = #{lastMessageAt}
		
		WHERE chatroom_sq = #{chatroomSq}
	</update>
	
	<select id="existsUserChatroom" resultType="int">
		SELECT COUNT(*)
		FROM TBL_CHATROOM_S
		WHERE chatroom_sq = #{chatroomSq} AND user_sq = #{userSq}
	
	</select>


	<select id= "existsCounselerChatroom" resultType="int">
		SELECT COUNT(*)
		FROM TBL_CHATROOM_S
		WHERE chatroom_sq = #{chatroomSq}
		AND chatroom_type = 'COUNSELOR'	
	</select>
	
	
	<select id="selectChatroomByUser" resultType="com.example.demo.domain.chat.dto.ChatroomVo">
		SELECT chatroom_sq AS chatroomSq,
		user_sq AS userSq,
		last_message AS lastMessage,
		last_message_at AS lastMessageAt,
		chatroom_type AS chatroomType,
		chatroom_created_at AS chatroomCreatedAt
		
		FROM TBL_CHATROOM_S
		WHERE user_sq = #{userSq}
		ORDER By last_message_at DESC
	
	</select>
	
	
	<select id="selectCounselorRooms" resultType="com.example.demo.domain.chat.dto.ChatroomVo">
		SELECT
		chatroom_sq AS chatroomSq,
		user_sq AS userSq,
		last_message AS lastMessage,
		last_message_at AS lastMessageAt,
		chatroom_type AS chatroomType,
		chatroom_created_at AS chatroomCreatedAt
		
		FROM TBL_CHATROOM_S
		WHERE chatroom_type = 'COUNSELOR'
		ORDER BY last_message_at DESC
	</select>
	
	<select id="selectChatroomType" resultType="string">
		SELECT chatroom_type
		FROM TBL_CHATROOM_S
		WHERE chatroom_sq = #{chatroomSq}
	
	</select>
	
	<select id="findUserSqByChatroomSq" resultType="Long">
		SELECT user_sq
		FROM tbl_chatroom_s
		where chatroom_sq = #{chatroomSq}
	</select>
</mapper>
